fastapi
uvicorn[standard]
langchain
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pydantic-settings
python-dotenv
pypdf
python-multipart
streamlit
ragas
datasets